


    
    //styles
    
    body {
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        }
    
        .main-container {
            
            max-width: 375px;
            width: 100%;
            box-sizing: border-box;
            margin: 0 auto;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
                header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .logo-image {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #ffffff;
                        padding: 0;
                        margin-right: 0px;
                    }
                    
                        img {
                            width: 197px;
                            height: 36px;
                            margin-top: 14px;
                        }
                    }
                }
            
                .icone-localisation {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    gap: 17px;
                    background-color: lightgray;
                    margin-top: 20px;
                    border-color: lightgray;
                    height: 50px;
                    width: 375px;
                }

                .fa-solid.fa-location-dot {
                    margin-top: 15px;
                }

                .siege {
                    font-size: 16px;
                    color: $title-color;
                    padding: 0;
                    margin-top: 15px;
                    margin-bottom: 0;
                }

    
                h2 {
                    font-size: 24px;
                    color: $title-color;
                    padding: 0;
                    margin-top: 35px;
                    margin-bottom: 0;
                    margin-left: 18px;
                }
    
    main {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 2253px;
    
            .decouverte {
                text-align: center;
                padding: 35px 0;
                width: 375px;
                height: 287px;
                background-color: #f7f7f7;
                }
    
            h1 {
                color: $title-color;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 15px;
                line-height: 28px;
                width: 100%;
                height: 68px;
                }
    
            h3 {
                color: $title-color;
                font-size: 16px;
                margin-bottom: 20px;
                font-weight: initial;
                }
    
                button.explorer {
                    @include button-styles;
                    width: 218px;
                    height: 50px;
                    font-size: 16px;
                }
    
                .button {
                    display: flex;
                    justify-content: center;
                    @include button-styles;
                    background-color: #f6f6f6;
                    margin-bottom: 20px;
                    margin-left: 20px;
                    width: 75%;
                    height: 72.38px;
                    margin-top: 20px;
                }
    
                a {
                    color: $title-color;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: bold;
                }
    
                .icone-fonctionnement {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 13px;
                    position: relative;
                }
    
                .fas.fa-mobile-screen-button {
                    width: 13.02px;
                    height: 19.9px;
                    position: relative;
                    left: -33px;
                    color: $primary-color;
                }
    
                .fas.fa-list-ul {
                    width: 13.02px;
                    height: 19.9px;
                    position: relative;
                    left: -33px;
                    color: $primary-color;
                }
    
                .fas.fa-store {
                    width: 13.02px;
                    height: 19.9px;
                    position: relative;
                    left: -33px;
                    color: $primary-color;
                }
            }

            .restaurants {
                background-color: #f6f6f6;
            

            .restaurants-cards {
                margin-left: 17px;
                margin-right: 17px;
            }
    
                .card {
                    position: relative;
                    margin-top: 20px;
                    width: 100%;
                    border-radius: 15px;
                    background-color: #ffffff;
                }

                .card1 {
                    position: relative;
                    margin-top: 20px;
                    width: 100%;
                    border-radius: 15px;
                    background-color: #ffffff;
                }
    
                img {
                    width: 100%;
                    margin-top: 0px;
                    border-radius: 15px 15px 0px 0px;
                    height: 251px;  
                }

                .article {
                    position: relative;
                    display: flex;
                    align-items: center;
                }

                .rectangle  {
                    width: 80px;
                    height: 29px;
                    background-color: #99E2D0;
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: calc(4% + 5px);
                    right: 6%;
                    position: absolute;
                }

                .article1 {
                    position: relative;
                    display: flex;
                    align-items: center;
                }

                .rectangle1 {
                    width: 80px;
                    height: 29px;
                    background-color: #99E2D0;
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 15px;
                    right: 5%;
                }

                & > .label {
                    color: #008766;
                }

            }

                
                .far.fa-heart {
                    transform: translate(300px, 25px);
                }

                .card-content {
                    padding-bottom: 10px;

                .card-title {
                    display: inline-block;
                    margin-left: 10px;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: bold;
                }

                .card-subtitle {
                    margin-left: 10px;
                    margin-top: 0;
                    font-weight: initial;
                }
            }
        
    
             
    footer {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 375px;
                    height: 186px;
                    gap: 16px;
                    background-color: #000;
                    color: #ffffff;

                    .logo-image {
                        img {
                            width: 139px;
                            height: 27px;
                            filter: brightness(0) invert(1);
                            font-size: 18px;
                        }

                    }

                        a {
                            color: #ffffff;
                            font-size: 16px;
                        }

                        i {
                            color: #ffffff;
                        }

                        .links-section {
                            margin-bottom: 7px;
                        }
                    
    
                    
                    }
                
            
    
                
        