


    //styles
    
    body {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $button-text-color;
        margin: 0;
        padding: 0;
        flex-direction: column;
        box-sizing: border-box;
        }
        
        .main-container {
            max-width: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
                header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .logo-image {
                        background-color: #FFFFFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $button-text-color;
                        padding: 0;
                        margin-right: 0px;
                    }
                    
                        & img {
                            display: flex;
                            width: 197px;
                            height: 36px;
                            padding: 0px 19px 0px 16px;
                            justify-content: center;
                            align-items: center;
                            margin-top: 14px;
                        }
                    }

                .icone-localisation {
                    display: flex;
                    width: 375px;
                    height: 50px;
                    justify-content: center;
                    text-align: center;
                    gap: 17px;
                    background-color: #EAEAEA;
                    margin-top: 20px;
                    border-color: #EAEAEA;
                    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.4);
                }

                .fa-solid.fa-location-dot {
                    margin-top: 15px;
                    width: 12px;
                    height: 16px;
                }

                .siege {
                    font-size: 16px;
                    font-style: normal;
                    color: #353535;
                    padding: 0;
                    margin-top: 15px;
                    margin-bottom: 0;
                    font-weight: 500;
                    font-family: roboto;
                }

                h2 {
                    display: flex;
                    flex-direction: column;
                    font-size: 24px;
                    font-weight: 700;
                    font-family: $police2;
                    color: $title-color;
                    padding: 0;
                    margin-top: 24px;
                    margin-bottom: 24px;
                    margin-left: 20px;
                }
    main {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
            section.decouverte {
                display: flex;
                text-align: center;
                padding: 35px 0;
                width: 100%;
                /*height: 287px;*/
                background-color: #F6F6F6;
                align-items: center;
                flex-direction: column;

                h1 {
                    font-size: 22px;
                    font-family: $police2;
                    font-weight: 700;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 275px;
                    height: 68px;
                    text-align: center;
                    line-height: normal;
                    flex-shrink: 0;
                }

                h3 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 315px;
                    height: 46px;
                    font-size: 16px;
                    font-weight: 300;
                    font-family: $police2;
                }

                .button-explorer {
                    width: 218px;
                    height: 50px;
                    border-radius: 25px;
                    background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
                    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                    flex-shrink: 0;
                    margin-top: 27px;
                    cursor: pointer;
                    transition: transform 0.3s ease-out;

                    .button-text {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        font-size: 16px;
                        font-family: $police2;
                        font-weight: 500;
                        line-height: normal;
                        color: #FFF;
                        margin-top: 15px;
                    }
                }

                .button-explorer:hover {
                    transform: scale(1.1);
                  }

            }
        }


                .Fonctionnement {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    background-color: #FFF;
                    width: 100%;

                .button {
                    display: flex;
                    flex-direction: column;
                    transform: translate(50px);
                    margin-right: 0;
                    }
            }
            
                a {
                    display: flex;
                    flex-direction: column;
                    color: $title-color;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: Roboto;
                    width: 211px;
                    height: 15.67px;
                    margin-left: 40.02px;
                    margin-top: 7.5px;
                    scroll-behavior: smooth;
                }
    
                .icone-fonctionnement {
                    width: 75%;
                    height: 72.379px;
                    margin-top: 13px;
                    position: relative;
                    margin-bottom: 24.92px;
                    display: flex;
                    justify-content: center;
                    background-color: #F6F6F6;
                    border-radius: 20px;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                    cursor: pointer;
                    transition: transform 0.3s ease-out;

                
                    .fonctionnement-number {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background-color: #9356DC;
                        color: #FFFFFF;
                        font-size: 14px;
                        font-family: Roboto;
                        font-weight: 500;
                        flex-shrink: 0;
                        left: -10px;
                        top: 20px;
                        cursor: pointer;
                      }
                      

    
                .fas.fa-mobile-screen-button {
                    width: 13.19px;
                    height: 19.903px;
                    margin-top: 24.5px;
                    color: #7E7E7E;
                    transform: translate(20px);
                }

                .fas.fa-mobile-screen-button:hover {
                    color: $primary-color;
                    cursor: pointer;
                    font-weight: 900;
                }

    
                .fas.fa-list-ul {
                    width: 16px;
                    height: 15.92px;
                    margin-top: 24.5px;
                    color: #7E7E7E;
                    transform: translate(20px);
                }

                .fas.fa-list-ul:hover {
                    color: $primary-color;
                    cursor: pointer;
                    font-weight: 900;
                }
    
                .fas.fa-store {
                    width: 18px;
                    height: 17.91px;
                    margin-top: 24.5px;
                    color: #7E7E7E;
                    transform: translate(20px);
                }

                .fas.fa-store:hover {
                    color: $primary-color;
                    cursor: pointer;
                    font-weight: 900;
                }
        }


            .restaurants {
                background-color: $background;
                width: 100%;

            .restaurants-cards {
                margin-left: 17px;
                margin-right: 18px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 340px;
                gap: 18px;
                padding-bottom: 70px;
            }
    
                .card1 {
                    width: 340px;
                    height: 270px;
                    border-radius: 15px;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                    background-color: #ffffff;
                }

                .card2 {
                    width: 340px;
                    height: 270px;
                    border-radius: 15px;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                    background-color: #ffffff;
                }

                .card3 {
                    width: 340px;
                    height: 270px;
                    border-radius: 15px;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                    background-color: #ffffff;
                }

                .card4 {
                    width: 340px;
                    height: 270px;
                    border-radius: 15px;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                    background-color: #ffffff;
                }




                .card-link {
                    display: flex;
                    flex-direction: column;
                    width: 267px;
                    height: 20px;
                    color: $title-color;
                    font-size: 18px;
                    font-family: Roboto;
                    font-weight: 700;
                    position: relative;
                }

    
                img {
                    width: 340px;
                    height: 170px;
                    margin-top: 1px;
                    border-radius: 15px 15px 0px 0px;
                    transform: translateX(-40px);
                    
 
                }

                .card-title {
                    display: flex;
                    width: 267px;
                    height: 20px;
                    margin-left: -27px;
                    margin-top: 20px;
                    margin-bottom: 5px;
                    font-weight: 700;
                    color: $title-color;
                    font-size: 18px;
                    font-family: Roboto;
                }


                .card-subtitle {
                    display: flex;
                    width: 247px;
                    height: 24px;
                    margin-left: -27px;
                    margin-top: 0;
                    font-weight: 300;
                    font-size: 17px;
                    font-family: Roboto;
                    color: $title-color;
                    position: absolute;
                }
            

                .article {
                    position: relative;
                    display: flex;
                    align-items: center;
                }

                .rectangle  {
                    width: 80px;
                    height: 29px;
                    background-color: #99E2D0;
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: calc(0% + 5px);
                    right: -5%;
                }

                .rectangle1 {
                    width: 80px;
                    height: 29px;
                    background-color: #99E2D0;
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 5px;
                    right: -5%;
    
                }

                & > .label {
                    color: #008766;
                }
            
            }

            .icone-coeur {
                position: relative;
                 display: inline-block;
                 width: 22px;
                 height: 21px;
                 right: -255px;
                 top: 30px;   
            }

            .icone-coeur i {
                position: absolute;
                top: 0;
                left: 0;
            }

            .fas.fa-heart {
                color: transparent;
                background-image: $linearGradient;
                -webkit-background-clip: text;
                background-clip: text;
                opacity: 0;
                transition: all 200ms;
            }

            .fas.fa-heart:hover {
                opacity: 1;
                animation: fillheart 2s;
            }

            @keyframes fillheart {
                0% {
                    background-position: 0 0;
                }
                100% {
                    background-position: 100% 0;
                }
            }
      
    footer {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 325px;
                    /*height: 193px;*/
                    gap: 20px;
                    color: #FFF;
                    background-color: #353535;
                    padding: 22px 25px 22px 25px;
                    

                    .logo-image.small-case {
                        img {
                            width: 139px;
                            height: 27px;
                            filter: brightness(0) invert(1);
                            font-size: 18px;
                            margin-top: 10px;
                            margin-left: 25px;
                        }

                        a {
                            color: #ffffff;
                            font-size: 16px;
                        }

                        i {
                            color: #ffffff;
                        }
                    }

                        .links-section {
                            margin-bottom: 10px;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            

                            .fa-regular.fa-utensils {
                                display: flex;
                                /*width: 11px;*/
                                height: 13px;
                                font-weight: 900;
                                
                                color: #FFF;
                            }

                            .proposition {
                                display: flex;
                                width: 168px;
                                font-size: 16px;
                                font-family: Roboto;
                                font-weight: 500;
                                font-style: normal;
                                line-height: normal;
                                margin-left: 20px;
                                gap: 17px;
                            }

                            .proposer-un-restaurant {
                                white-space: nowrap;
                                margin-left: 0;
                            }

                            a.proposer-un-restaurant {
                                color: #FFF;
                                margin-top: 0;
                            }


                            .partenaire {
                                display: flex;
                                width: 168px;
                                flex-direction: row;
                                font-size: 16px;
                                font-family: Roboto;
                                font-weight: 500;
                                font-style: normal;
                                line-height: normal;
                                gap: 11px;
                                margin-left: 20px;
                            }

                            .fas.fa-handshake {
                                width: 11.91px;
                                height: 13px;
                                transform: rotate(120deg);
                            }

                            a.partenariat {
                                display: flex;
                                flex-direction: row;
                                margin-left: 0;
                                margin-top: 0;
                                color: #FFF;
                            }

                            .mentions-legales {
                                width: 130px;
                                height: 20px;
                                font-size: 16px;
                                font-family: Roboto;
                                font-weight: 400;
                                font-style: normal;
                                line-height: normal;
                            }

                            a.mentions-legales {
                                color: #FFF;
                                margin-top: 0;
                                margin-left: 20px;
                            }

                            .contact {
                                width: 130px;
                                height: 20px;
                                font-size: 16px;
                                font-family: Roboto;
                                font-weight: 400;
                                font-style: normal;
                                line-height: normal;
                            }

                            a.contact {
                                color: #FFF;
                                margin-top: 0;
                                margin-left: 20px;
                            }
                        }            
            }        
        }