@mixin button-styles($background-color: $primary-color, $text-color: #ffffff) {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: $button-border-radius;
    background-color: $background-color;
    color: $text-color;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

@mixin button-styles-vierge {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: $button-border-radius;
    background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
    color: $button-text-color;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

@mixin card-style {
    width: 767.98px;
}

@mixin transition($property, $duration) {
    transition: $property $duration ease-in-out;
}


@mixin desktop-only {
    @media screen and (min-width: 767px) {
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: 375px) {
        @content;
    }
}