@include desktop-only

;body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 767px;
  width: 100%;
}

.main-container {

header {
  width: 767px;
}

.icone-localisation {
  width: 767px;
}


main {
  width: 767px;

  section.decouverte {
    display: flex;
    flex-direction: column;

    h1 {
      width: 645px;
      height: 47px;
      display: flex;
      flex-direction: row;
      text-align: center;
      font-family: $police2;
      font-size: 40px;
      font-weight: 700;
      line-height: normal;
      color: $title-color;
    }

    h1 br {
      display: none;
    }

    h3 {
      width: 531px;
      height: 46px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-shrink: 0;
      font-size: 18px;
      font-family: $police2;
      font-style: normal;
      line-height: normal;
      font-weight: 300;
    }
  }

  .Fonctionnement {
    display: flex;
    flex-direction: column;
    height: 440px;
    align-items: flex-start;
    background: #fff;

    h2 {
      transform: translate(30px);
    }

    .button {
      flex-direction: row;
      gap: 20px;
      }

      .icone-fonctionnement {
        width: 218px;
        display: flex;
        justify-content: space-between;
      }

      .fas.fa-mobile-screen-button {
        transform: translate(30px);
      }

      .fas.fa-list-ul {
        transform: translate(30px);
      }

      .fas.fa-store {
        transform: translate(30px);
      }

      a.fonction {
        font-size: 12px;
        margin-top: 12px;
      }
  }

  


}
  


footer {
  width: 767px;
}

}


