body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


    .main-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 15px;

                    a {
                        text-decoration: none;
                        color: #000000;
                        position: absolute;
                        top: 25px;
                        left: -20px;
                        font-size: 19px;
                        font-weight: 900;
                    }

                    .logo-image {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        margin-right: 0px;
                    }
                }

                main {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f7f7f7;

                    .image-palette-du-gout {
                        height: 275px;
                        display: block;

                        img {
                            width: 100%;
                            height: 275px;
                            object-fit: cover;
                            display: block;
                        }
                    }
                

                .carte-palette-du-gout {
                    width: 100%;
                    position: relative;
                    border-radius: 40px 40px 0 0;
                    margin-top: -10px;

                    .logo-menu-container {
                        position: relative;
                        display: flex;font-family: "shrikhand", cursive;
                        font-size: 28px;font-weight: 400;
                        line-height: normal;
                        color: #101010;
                        margin-top: 32px;
                        margin-left: 15px;

                        .icone-coeur {
                            transform: translate(60px);
                            right: 20px;
                            top: 4px;
                        }
                    }
                }

                .menu {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    font-family: 'Roboto', sans-serif;

                    p {
                        font-size: 16px;
                        font-weight: 300;
                        line-height: normal;
                        text-transform: uppercase;
                        color: #000;
                    }
                }
            }
        }

    }

    