body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/


        header {
            position: relative;
            height: 63px;
            box-shadow: 0px 2px 4px rgba(0,0,0,.15);
            background-color: #fff;

            a {
                text-decoration: none;
                color: inherit;

                .fas.fa-arrow-left {
                    position: absolute;
                    top: 40%;
                    left: -150px;
                    /*transform: translateX(-50%) translateY(-50%);*/
                    font-size: 19px;
                }
            }

            .logo-ohmyfood {
                position: relative;
                margin: 0;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-40%);
                font-family: "Shrikhand",cursive;
                text-align: center;

                .logo-image {
                    position: absolute;
                    margin: 0;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-40%);
                    font-family: "Shrikhand",cursive;
                    text-align: center;
                    font-size: 30px;
                    font-weight: 400;
                    width: 197px;
                    height: 36px;
                }
            }
        }    

                    .image-palette-du-gout {
                        /*height: 275px;*/
                        display: block;
                        width: 100%;

                        img {
                            width: 100%;
                            height: 275px;
                            object-fit: cover;
                            display: block;
                        }
                    }
                

                .carte-palette-du-gout {
                    width: 100%;
                    position: relative;
                    border-radius: 40px 40px 0 0;
                    margin-top: -55px;
                    background: #F6F6F6;
                    box-sizing: border-box;
                    flex-shrink: 0;

                    .logo-menu-container {
                        position: relative;
                        display: flex;font-family: "shrikhand", cursive;
                        font-size: 28px;font-weight: 400;
                        line-height: normal;
                        color: #101010;
                        margin-top: 32px;
                        margin-left: 15px;

                        .icone-coeur {
                            display: flex;
                            position: relative;
                            right: -18px;
                            top: 8px;
                            }

                        .far.fa-heart {
                            display: flex;
                            position: relative;
                            right: -28px;
                        }

                        .fas.fa-heart {
                            color: transparent;
                            background: linear-gradient(360deg, #FF79DA -20%, #9356DC 123%);
                            -webkit-background-clip: text;
                            background-clip: text;
                            opacity: 0;
                            cursor: pointer;
                            transition: all 500ms;
                        }

                        .fas.fa-heart:hover {
                            opacity: 1;
                            animation: fillheart 2s;
                        }
            
                        @keyframes fillheart {
                            0% {
                                background-position: 0 0;
                            }
                            100% {
                                background-position: 100% 0;
                            }
                        }
                    }
                }

                .menu {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-family: 'Roboto', sans-serif;

                    .custom-underline {
                        font-size: 16px;
                        font-weight: 300;
                        line-height: normal;
                        text-transform: uppercase;
                        color: #000;
                        position: relative;
                        margin-left: 15px;
                    }

                    .custom-underline::before {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 3px;
                        bottom: -7px;
                        left: 0;

                        z-index: -1;
                    }

                    .custom-underline::after {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 3px;
                        background-color: #99e2d0;
                        bottom: -7px;
                        left: 0;
                    }

                    .menu-entrees {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        margin-bottom: 30px;
                        margin-top: 10px;
                    }

                    .entrees {
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        gap: 5px;
                        width: 349px;
                        height: 69px;
                        align-items: flex-start;
                        background: #fff;
                        box-shadow: 0px 4px 15px 0px rgb(0, 0, 0, 0.10);
                        border-radius: 15px;
                        margin-left: 12px;
                        h2 {
                            overflow: hidden;
                            color: #000;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-family: Roboto;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: bold;
                            line-height: normal;
                            align-self: stretch;
                            flex-shrink: 0;
                            height: 21px;
                            margin-top: 10px;
                            margin-left: 10px;
                        }

                        h3 {
                            height: 19px;
                            flex-shrink: 0;
                            align-self: stretch;
                            overflow: hidden;
                            color: #000;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-family: Roboto;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                            margin-top: 5px;
                            transform: translate(10px, -25px);
                        }

                        .price {
                            position: relative;
                            left: 300px;
                            top: -65px;
                            font-weight: bold;
                            
                        }
                    }

                    .menu-plats {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        margin-bottom: 30px;
                        margin-top: 10px;

                        .plats {
                            display: flex;
                            flex-direction: column;
                            cursor: pointer;
                            gap: 5px;
                            width: 349px;
                            height: 69px;
                            align-items: flex-start;
                            background: #fff;
                            box-shadow: 0px 4px 15px 0px rgb(0, 0, 0, 0.10);
                            border-radius: 15px;
                            margin-left: 12px;
                            h2 {
                                overflow: hidden;
                                color: #000;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-family: Roboto;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: bold;
                                line-height: normal;
                                align-self: stretch;
                                flex-shrink: 0;
                                height: 21px;
                                margin-top: 10px;
                                margin-left: 10px;
                            }
    
                            h3 {
                                height: 19px;
                                flex-shrink: 0;
                                align-self: stretch;
                                overflow: hidden;
                                color: #000;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-family: Roboto;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: normal;
                                margin-top: 5px;
                                transform: translate(10px, -25px);
                            }
    
                            .price {
                                position: relative;
                                left: 300px;
                                top: -65px;
                                font-weight: bold;    
                            }
                        }
                    }

                    .menu-desserts {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        margin-bottom: 30px;
                        margin-top: 10px;

                        .desserts {
                            display: flex;
                            flex-direction: column;
                            cursor: pointer;
                            gap: 5px;
                            width: 349px;
                            height: 69px;
                            align-items: flex-start;
                            background: #fff;
                            box-shadow: 0px 4px 15px 0px rgb(0, 0, 0, 0.10);
                            border-radius: 15px;
                            margin-left: 12px;
                            h2 {
                                overflow: hidden;
                                color: #000;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-family: Roboto;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: bold;
                                line-height: normal;
                                align-self: stretch;
                                flex-shrink: 0;
                                height: 21px;
                                margin-top: 10px;
                                margin-left: 10px;
                            }
    
                            h3 {
                                height: 19px;
                                flex-shrink: 0;
                                align-self: stretch;
                                overflow: hidden;
                                color: #000;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-family: Roboto;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: normal;
                                margin-top: 5px;
                                transform: translate(10px, -25px);
                            }
    
                            .price {
                                position: relative;
                                left: 300px;
                                top: -65px;
                                font-weight: bold;    
                            }
                        }
                    }    

                    .commander {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 40px;

                    .custom-button.commander {
                        height: 50px;
                        border-radius: 25px;
                        font-size: 16px;
                        border: none;
                        background: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
                        color: #fff;
                        box-shadow: 0px 4px 15px rgba(0,0,0,.35);
                        cursor: pointer;
                        transition: 300ms ease-out;
                        width: 186px;
                        margin-bottom: 40px;
                        margin-top: 10px;
                        position: relative;
                        left: 13px;
                        justify-content: center;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                    }

                    .custom-button.commander:hover {
                        transform: scale(1.2);
                    }
                }
            }

                footer {
                    background: #353535;
                    color: #fff;
                    padding: 22px 25px 22px 25px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 100%;
                    height: 215px;

                    .logo-footer {
                        font-family: "Shrikhand",cursive;
                        font-weight: 400;
                        width: 138px;
                        height: 27px;
                    }

                    .liens {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .liens1 {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            .proposition {
                                display: flex;
                                gap: 10px;
                                color: #F6F6F6;
                            }
                        }
                    }
                }
            }

    
   
    