$background: var(--button-gradient, linear-gradient(175deg, #9356dc 0%, #ff79da 100%));
$color: var(--white, #FFF);
$button-text-color:  #FFFFFF;
$police1: 'Shrikhand', cursive;
$police2: 'Roboto', sans-serif;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$linearGradient: linear-gradient($primary-color, $secondary-color);
$title-color: #000000;
