// _variables.scss

$button-bg-color: #9356DC;
$button-text-color: #FFFFFF;
$button-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
$button-border-radius: 25px;
$button-transform: matrix(1, 0, 0, -1, 0, 0);
$main-color: #D2D2D2;
$title-color: #000000;
$icone-coeur-color: mix(#9356DC, #FF79DA, 50%);
$rectangle-color: #99E2D0;
$label-color: #008766;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$card-border-radius: 10px;
$card-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
$background: var(--background, #F6F6F6);
$button-gradient: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
$police1: 'Shrikhand', cursive;
$police2: 'Roboto', sans-serif;
$linearGradient: linear-gradient($primary-color, $secondary-color);

