@charset "UTF-8";
body {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.main-container {
  max-width: 375px;
  /*width: 100%;*/
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container header .logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0;
  margin-right: 0px;
}
.main-container header img {
  width: 197px;
  height: 36px;
  margin-top: 14px;
}

.icone-localisation {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 17px;
  background-color: lightgray;
  margin-top: 20px;
  border-color: lightgray;
  height: 50px;
  width: 375px;
}

.fa-solid.fa-location-dot {
  margin-top: 15px;
}

.siege {
  font-size: 16px;
  color: #000000;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
  color: #000000;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 0;
  margin-left: 18px;
}

main {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2253px;
}
main .decouverte {
  text-align: center;
  padding: 35px 0;
  width: 375px;
  height: 287px;
  background-color: #f7f7f7;
}
main h1 {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 28px;
  width: 100%;
  height: 68px;
}
main h3 {
  color: #000000;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: initial;
}
main button.explorer {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #9356DC;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 218px;
  height: 50px;
  font-size: 16px;
}
main .button {
  display: flex;
  justify-content: center;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #9356DC;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 75%;
  height: 72.38px;
  margin-top: 20px;
}
main a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
main .icone-fonctionnement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  position: relative;
}
main .fas.fa-mobile-screen-button {
  width: 13.02px;
  height: 19.9px;
  position: relative;
  left: -33px;
  color: #9356DC;
}
main .fas.fa-list-ul {
  width: 13.02px;
  height: 19.9px;
  position: relative;
  left: -33px;
  color: #9356DC;
}
main .fas.fa-store {
  width: 13.02px;
  height: 19.9px;
  position: relative;
  left: -33px;
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants .restaurants-cards {
  margin-left: 17px;
  margin-right: 17px;
}
.restaurants .card {
  position: relative;
  margin-top: 20px;
  width: 100%;
  border-radius: 15px;
  background-color: #ffffff;
}
.restaurants .card1 {
  position: relative;
  margin-top: 20px;
  width: 100%;
  border-radius: 15px;
  background-color: #ffffff;
}
.restaurants img {
  width: 100%;
  margin-top: 0px;
  border-radius: 15px 15px 0px 0px;
  height: 251px;
}
.restaurants .article {
  position: relative;
  display: flex;
  align-items: center;
}
.restaurants .rectangle {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(4% + 5px);
  right: 6%;
  position: absolute;
}
.restaurants .article1 {
  position: relative;
  display: flex;
  align-items: center;
}
.restaurants .rectangle1 {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 5%;
}
.restaurants > .label {
  color: #008766;
}

.far.fa-heart {
  transform: translate(300px, 25px);
}

.card-content {
  padding-bottom: 10px;
}
.card-content .card-title {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
.card-content .card-subtitle {
  margin-left: 10px;
  margin-top: 0;
  font-weight: initial;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 375px;
  height: 186px;
  gap: 16px;
  background-color: #000;
  color: #ffffff;
}
footer .logo-image img {
  width: 139px;
  height: 27px;
  filter: brightness(0) invert(1);
  font-size: 18px;
  margin-left: 22px;
}
footer a {
  color: #ffffff;
  font-size: 16px;
}
footer i {
  color: #ffffff;
}
footer .links-section {
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-left: 22px;
}

/*media query pour un écran d'une largeur de 767.98px*/
@media screen and (max-width: 767.98px) {
  .main-container {
    width: 100%;
  }
  header {
    width: 100%;
    background-color: white;
  }
  header .logo-ohmyfood {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  main .menu {
    background-color: #F7F7F7;
    width: 100%;
  }
  main .menu div {
    width: 100%;
  }
  main .logo-menu {
    color: #000000;
  }
}/*# sourceMappingURL=style.css.map */