@charset "UTF-8";
body {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.main-container {
  max-width: 375px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container header .logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0;
  margin-right: 0px;
}
.main-container header img {
  width: 162px;
  height: 64px;
  margin-top: 14px;
  font-family: shrikhand;
}

.icone-localisation {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 17px;
  background-color: #EAEAEA;
  margin-top: 20px;
  border-color: #EAEAEA;
  height: 50px;
  width: 375px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.4);
}

.fa-solid.fa-location-dot {
  margin-top: 15px;
  width: 12px;
  height: 16px;
}

.siege {
  font-size: 16px;
  color: #353535;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 500;
  font-family: roboto;
}

h2 {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 700;
  font-family: Roboto;
  color: #000000;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 20px;
}

main {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2240px;
}
main .decouverte {
  text-align: center;
  padding: 35px 0;
  width: 375px;
  height: 287px;
  background-color: #F6F6F6;
}
main h1 {
  color: #000000;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 28px;
  width: 275px;
  height: 68px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: roboto;
  flex-direction: column;
  margin-left: 42px;
}
main h3 {
  display: flex;
  text-align: center;
  color: #353535;
  font-size: 18px;
  font-family: roboto;
  margin-bottom: 20px;
  font-weight: 300;
  width: 315px;
  height: 46px;
  margin-left: 34px;
  margin-right: 26px;
}
main .button-explorer {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #9356DC;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 218px;
  height: 50px;
  background-color: linear-gradient(#9356DC, #FF79DA);
}
main .button-text {
  font-size: 16px;
  width: 180.495px;
  height: 24px;
  font-weight: 500;
  font-family: Roboto;
  color: #FFF;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 20px;
}
main .fonctionnement {
  background-color: #FFF;
}
main a {
  display: flex;
  flex-direction: column;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto;
  width: 211px;
  height: 15.67px;
  margin-left: 40.02px;
  margin-top: 7.5px;
}
main .icone-fonctionnement {
  width: 322.486px;
  height: 72.379px;
  margin-top: 13px;
  margin-bottom: 24.92px;
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
main .fas.fa-mobile-screen-button {
  width: 13.19px;
  height: 19.903px;
  margin-top: 24.5px;
  color: #7E7E7E;
}
main .fas.fa-mobile-screen-button:hover {
  color: #9356DC;
  cursor: pointer;
}
main .fas.fa-list-ul {
  width: 16px;
  height: 15.92px;
  margin-top: 24.5px;
  color: #7E7E7E;
}
main .fas.fa-list-ul:hover {
  color: #9356DC;
  cursor: pointer;
}
main .fas.fa-store {
  width: 18px;
  height: 17.91px;
  margin-top: 24.5px;
  color: #7E7E7E;
}
main .fas.fa-store:hover {
  color: #9356DC;
  cursor: pointer;
}

.restaurants {
  background-color: var(--background, #F6F6F6);
  width: 375px;
  height: 1583.64px;
  /*.article1 {
      position: relative;
      display: flex;
      align-items: center;
  }*/
}
.restaurants .restaurants-cards {
  margin-left: 17px;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  gap: 18px;
}
.restaurants .card {
  /*position: relative;
  margin-top: 20px;*/
  width: 340px;
  height: 308px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.restaurants .card-link {
  display: flex;
  flex-direction: column;
  width: 267px;
  height: 20px;
  color: #000000;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  position: relative;
}
.restaurants img {
  width: 334px;
  height: 231px;
  margin-top: -8px;
  border-radius: 15px 15px 0px 0px;
  margin-left: -37px;
  margin-right: 3px;
}
.restaurants .card-title {
  display: flex;
  width: 267px;
  height: 20px;
  margin-left: -27px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  font-family: Roboto;
  /*position: absolute;*/
  /*bottom: 10px;
  left: 10px;
  margin: 0;*/
}
.restaurants .card-subtitle {
  display: flex;
  width: 247px;
  height: 24px;
  margin-left: -27px;
  margin-top: 0;
  font-weight: 300;
  font-size: 17px;
  font-family: Roboto;
  color: #000000;
  position: absolute;
  /*bottom: -20px;
  left: 10px;
  margin: 0;*/
}
.restaurants .article {
  position: relative;
  display: flex;
  align-items: center;
}
.restaurants .rectangle {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(0% + 5px);
  right: -5%;
}
.restaurants .rectangle1 {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: -5%;
}
.restaurants > .label {
  color: #008766;
}

.icone-coeur {
  position: relative;
  display: inline-block;
  /*justify-content: center;
  align-items: center;*/
  width: 22px;
  height: 21px;
  right: -255px;
  top: 30px;
}

.icone-coeur i {
  position: absolute;
  top: 0;
  left: 0;
}

.fas.fa-heart {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
}

.fas.fa-heart:hover {
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 325px;
  height: 142px;
  gap: 16px;
  background-color: #000;
  color: #ffffff;
  padding: 22px 25px 22px 25px;
}
footer .logo-image.small-case img {
  width: 139px;
  height: 27px;
  filter: brightness(0) invert(1);
  font-size: 18px;
  margin-left: 22px;
}
footer a {
  color: #ffffff;
  font-size: 16px;
}
footer i {
  color: #ffffff;
}
footer .links-section {
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-left: 22px;
}
footer .links-section .fa-solid fa-utensils {
  width: 11px;
  height: 13px;
}
footer .links-section .proposition {
  display: flex;
  width: 168px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  gap: 17px;
}
footer .links-section .proposer-un-restaurant {
  white-space: nowrap;
}
footer .links-section .partenaire {
  display: flex;
  width: 168px;
  flex-direction: row;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  gap: 11px;
}
footer .links-section .fas fa-handshake {
  width: 11.91px;
  height: 13px;
  transform: rotate(60deg);
}
footer .links-section .mentions-legales {
  display: flex;
  width: 130px;
  height: 20px;
  flex-direction: column;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
footer .links-section .contact {
  display: flex;
  width: 130px;
  height: 20px;
  flex-direction: column;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

/*media query pour un écran d'une largeur de 767.98px*/
@media screen and (max-width: 767.98px) {
  .main-container {
    width: 100%;
  }
  header {
    width: 100%;
    background-color: white;
  }
  header .logo-ohmyfood {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  main .menu {
    background-color: #F7F7F7;
    width: 100%;
  }
  main .menu div {
    width: 100%;
  }
  main .logo-menu {
    color: #000000;
  }
}/*# sourceMappingURL=style.css.map */